<h3>Edit form</h3>

<%= form_for(@schoolclass) do |f| %>
  <label>Class title: </label><br>
  <%= f.text_field :title %><br>

  <label>Classroom number: </label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
  <% end %>
